<!-- Inicio Selector-->
<div class="container">
    <div class="container bolsa-novedades">
        <div class="row">
            <div class="content-input bs-border whit-icon search col-md-6">
                <form class='autocomplete-container'>
                    <div class='autocomplete' role='combobox' aria-expanded='false' aria-owns='autocomplete-results'
                        aria-haspopup='listbox'>
                        <input class='autocomplete-input' placeholder='Buscar Servicio'
                            aria-label='Search for a fruit or vegetable' aria-autocomplete='both'
                            aria-controls='autocomplete-results'>
                        <button type='submit' class='autocomplete-submit' aria-label='Search'>
                            <span class="" id="basic-addon3"><img src="././assets/img/search.svg" alt=""></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <p>Siguiente guía</p>
                <p>7000345454</p>
            </div>
            <div class="col-md-6">

            </div>
        </div>

        <!-- Inicio Área de texto -->
        <div class="content-input col-md-5">
            <div class="mb-2">
                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <!-- Fin Área de texto -->
        <!--Fin caja de texto para buscador con icono y borde-->
        <!--Fin caja de texto para buscador-->
        <!-- Inicio caja de texto activa-->
        <div class="content-input col-md-5">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <small>Texto de referencia</small>
            </div>
        </div>
        <!-- Fin caja de texto activa-->

        <button type="button" class="btn btn-primary bs-btn">Nuevo envío</button>
        <button type="button" class="btn btn-primary bs-btn" disabled>Nuevo envío</button>
    </div>
</div>