.bolsa-novedades {
   margin-top: 100px;
   padding: 20px;
   background-color: #ffffff;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.autocomplete-results {
   display: -webkit-box !important;
}

.text-muted {
   font-size: 12px;
   margin-bottom: 5px;
   color: #7794ad !important;
   font-weight: bold;
}

.text-muted-1 {
   font-size: 12px;
   color: #7794ad !important;
   font-weight: bold;
   line-height: 10px;
}

.text-muted-info {
   font-size: 12px;
   margin-bottom: 5px;
   color: #1A1731 !important;
   /*font-weight: bold;*/
   font-weight: 600;
}

.text-line {
   display: block;
   font-size: 12px;
}

.text-line-1 {
   display: block;
   font-size: 12px;
   color: #1A1731 !important;
   font-weight: bold;
   margin-bottom: 5px;
}

.p-1 {
   font-size: 16px;
}

.p-2 {
   font-size: 20px;
   color: #6d6e71;
}

.p-3 {
   font-size: 20px;
   color: #C62C0F;
}

.autocomplete-submit {
   margin-right: 55px;
}

.custom-row {
   margin-bottom: 30px !important;
}

.custom-row-info {
   margin-bottom: 10px !important;
}

.custom-row-valor {
   margin-bottom: 70px !important;
}

.custom-row-1 {
   margin-bottom: 175px !important;
}

.location-info {
   display: inline-flex;
   align-items: center;
}

.location-icon {
   margin-right: 15px;
}

.location-text {
   font-size: 12px;
   margin: 0;
   margin-right: 10px;
}

.titulo-1 {
   margin-right: 10px;
}

.titulo-2 {
   font-weight: bold;
   font-size: 18px;
}

.titulo-3 {
   background-color: #f9c097;
   border-radius: 30px;
   width: 200px;
}

.titulo-4 {
   font-weight: bold;
   font-size: 16px;
}

.titulo-5 {
   margin-right: 10px;
   text-decoration: underline;
}


.border-dotted {
   width: 1px;
   min-height: 100%;
   border-left: 1px dotted #888888;
}

.custom-box {
   display: inline-block;
   width: 70px;
   height: 70px;
   padding: 2px 6px;
   background-color: #F1F4FB;
   color: #F3F4F9;
   border-radius: 8px;
   margin-right: 10px;
   border: 2px solid #bbcdfb;
}

.recuadros {
   display: flex;
   align-items: center;
}

.simbolo {
   width: 20px;
   height: 2px;
   background-color: black;
   margin: 0px 9px;
}


.border-class {
   border-right: 3px dotted #D7D8DC;
   border-left: none;
   border-top: none;
   border-bottom: none;
}

.bs-btn {
   width: 200px !important;
}

.modal-dialog .modal-content {
   background-color: #ffffff !important;
}

.button-continuar {
   background-color: #E76100 !important;
   border: solid 2px #E76100 !important;
   color: #fff;
   cursor: pointer;
   width: 200px !important;
   display: inline-block;
   margin: 20px 0px;
   border-radius: 48px;
   padding: 10px 32px;
   font-size: 16px;
   font-weight: 600;
   margin-right: 16px;
}

.button-continuar:hover {
   background-color: #FFA361 !important;
   border: solid 2px #FFA361 !important;
}


.carousel-inner {
   justify-content: center;
   align-items: center;
   height: 50%;
}

.carousel-item {
   text-align: center;
}

.image-width {
   width: 400px !important;
   height: 400px !important;
}

@media (min-width: 801px) and (max-width: 1000px) {

   .custom-box,
   .simbolo {
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
      width: 60px;
      height: 60px;
   }
}

@media (max-width: 800px) {

   .custom-box,
   .simbolo {
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
      width: 60px;
      height: 60px;
   }

   .custom-box {
      border: 2px solid;
   }

   .titulo-1 {
      margin-right: 0px;
   }

   .simbolo {
      width: 10px;
      height: 2px;
      background-color: black;
      margin: 0px 9px;
   }

   .text-line-1 {
      display: block;
      font-size: 10px;
      color: #1A1731 !important;
      font-weight: bold;
      margin-bottom: 5px;
   }

   .border-class {
      border-right: none;
      border-left: none;
      border-top: none;
      border-bottom: 3px dotted #D7D8DC;
   }

}