<!-- Inicio Selector-->
<div class="container">
    <div class="container bolsa-novedades">
        <div class="row">
            <div class="content-input bs-border whit-icon search col-md-4 text-center">
                <form class='autocomplete-container'>
                    <div class='autocomplete' role='combobox' aria-expanded='false' aria-owns='autocomplete-results'
                        aria-haspopup='listbox'>
                        <input class='autocomplete-input' placeholder='Buscar Servicio'
                            aria-label='Search for a fruit or vegetable' aria-autocomplete='both'
                            aria-controls='autocomplete-results'>
                        <button type='submit' class='autocomplete-submit' aria-label='Search'>
                            <span class="" id="basic-addon3"><img src="././assets/img/search.svg" alt=""></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <p color="#B8BBC2">Siguiente guía <br>7000345454</p>
            </div>
            <div class="col-md-4 text-center">
                <p>Pendientes por gestionar <br> 99</p>
            </div>
        </div>

        <!-- Inicio Área de texto -->
        <div class="content-input col-md-5">
            <div class="mb-2">
                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <!-- Fin Área de texto -->
        <!--Fin caja de texto para buscador con icono y borde-->
        <!--Fin caja de texto para buscador-->
        <!-- Inicio caja de texto activa-->
        <div class="content-input col-md-5">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <small>Texto de referencia</small>
            </div>
        </div>
        <!-- Fin caja de texto activa-->

        <button type="button" class="btn btn-primary bs-btn">Nuevo envío</button>
        <button type="button" class="btn btn-primary bs-btn" disabled>Nuevo envío</button>
        <button type="button" class="btn btn-primary bs-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Demo modal
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título modal</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3 bs-t-body t-horizontal" style="background: transparent;">
                    <div class="row g-0">
                        <div class="col-md-4 ">
                            <img src="img/Recogidas.svg" class="img-fluid card-img-center rounded-start"
                                style="width: 120px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Recogidas en Casa</h5>
                                <p class="card-text">Con Recogidas en Casa, tus envíos llegarán a su destino de una
                                    manera más rápida y segura.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary bs-btn icon-btn"><img
                        src="img/arrow-right-orange-2.svg" />Nuevo envío</button>
                <button type="button" class="btn btn-primary bs-btn">Solicitar recogida</button>
            </div>
        </div>
    </div>
</div>