.bolsa-novedades {
    margin-top: 100px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-muted{
   font-weight: bold;
}
.autocomplete-results{
   display: -webkit-box !important;
}