<!-- Inicio Selector-->
<div class="container">
    <div class="container bolsa-novedades">
        <div class="row custom-row">
            <div class="content-input bs-border whit-icon search col-md-4 text-center">
                <form class='autocomplete-container'>
                    <div class='autocomplete' role='combobox' aria-expanded='false' aria-owns='autocomplete-results'
                        aria-haspopup='listbox'>
                        <input class='autocomplete-input' aria-label='Search for a fruit or vegetable'
                            aria-autocomplete='both' aria-controls='autocomplete-results'>
                        <button type='submit' class='autocomplete-submit' aria-label='Search'>
                            <span class="" id="basic-addon3"><img src="././assets/img/search.svg" alt=""></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <p class="text-muted">
                    <span class="text-line">Siguiente guía</span>
                    <span class="text-line p-1">7000345454</span>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p class="text-muted">
                    <span class="text-line">Pendientes por gestionar</span>
                    <span class="text-line p-1">99</span>
                </p>
            </div>
        </div>
        <div class="row custom-row">
            <!-- Inicio Section Informacion Guia, peso y volumen -->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 border-class">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 custom-row">
                    <div class="location-info">
                        <span class="location-icon"><img src="././assets/img/location.svg" alt=""></span>
                        <p class="location-text">
                            <span class="text-muted-info titulo-1">Orígen:</span>
                            <span class="text-muted-info titulo-1 titulo-2">Medellín</span>
                        </p>
                    </div>
                    <div class="location-info">
                        <span class="location-icon"><img src="././assets/img/location.svg" alt=""></span>
                        <p class="text-muted-info location-text">
                            <span class="text-muted-info titulo-1">Destino:</span>
                            <span class="text-muted-info titulo-1 titulo-2">Barranquilla</span>
                        </p>
                    </div>
                </div>
                <div class="row custom-row-info">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left">
                        <div class="location-info">
                            <p class="location-text">
                                <span class="text-muted-info titulo-1 titulo-2">Información envío</span>
                                <span class="text-muted-info titulo-1 titulo-3">Actual</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row custom-row-info">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left">
                        <div class="location-info">
                            <p class="location-text">
                                <span class="text-muted-info titulo-1">Fecha de admisión:</span>
                                <span class="text-muted-info titulo-1 titulo-4">06/06/2023</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left recuadros">
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Peso</span>
                                <span class="text-line-1 titulo-1">51 kg</span>
                            </p>
                        </span>
                        <span class="simbolo"></span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Volumen</span>
                                <span class="text-line-1 titulo-1">94</span>
                            </p>
                        </span>
                        <span class="simbolo"></span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Largo</span>
                                <span class="text-line-1 titulo-1">107cm</span>
                            </p>
                        </span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Ancho</span>
                                <span class="text-line-1 titulo-1">105cm</span>
                            </p>
                        </span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Alto</span>
                                <span class="text-line-1 titulo-1">50cm</span>
                            </p>
                        </span>
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-left">
                        <div class="location-info">
                            <p class="location-text">
                                <span class="text-muted-info titulo-1">Valor comercial:</span>
                                <span class="text-muted-info titulo-1 titulo-4">$ 365.00</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-left">
                        <div class="location-info">
                            <p class="location-text">
                                <span class="text-muted-info titulo-1">Valor total:</span>
                                <span class="text-muted-info titulo-1 titulo-4">$ 65.00</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row custom-row-info">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left">
                        <div class="location-info">
                            <p class="location-text">
                                <span class="text-muted-info titulo-1 titulo-2">Información Auditoria</span>
                                <span class="text-muted-info titulo-1 titulo-3">07/06/2023</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row custom-row-info">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left recuadros">
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Peso</span>
                                <span class="text-line-1 titulo-1">51 kg</span>
                            </p>
                        </span>
                        <span class="simbolo"></span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Volumen</span>
                                <span class="text-line-1 titulo-1">94</span>
                            </p>
                        </span>
                        <span class="simbolo"></span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Largo</span>
                                <span class="text-line-1 titulo-1">107cm</span>
                            </p>
                        </span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Ancho</span>
                                <span class="text-line-1 titulo-1">105cm</span>
                            </p>
                        </span>
                        <span class="custom-box">
                            <p class="text-muted-1">
                                <span class="text-line-1 titulo-1">Alto</span>
                                <span class="text-line-1 titulo-1">50cm</span>
                            </p>
                        </span>
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-left">
                        <div class="location-info">
                            <p class="location-text">
                                <span class="text-muted-info titulo-1">Diferencia Peso:</span>
                                <span class="text-muted-info titulo-1">17kg</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Section Informacion Guia, peso y volumen -->
            <!-- Inicio Section Valor Real-->
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right custom-row-valor">
                    <p class="text-muted-info location-text"><span class="text-muted-info titulo-2">Valor
                            real
                            del
                            envío(Ajuste
                            definitivo)</span></p>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <p class="text-muted">
                            <span class="text-muted-info">Valor admisión</span>
                            <span class="text-line p-2">$ 125.000</span>
                        </p>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <p class="text-muted">
                            <span class="text-muted-info">Valor total auditoria</span>
                            <span class="text-line p-2">$ 130.000</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <p class="text-muted">
                            <span class="text-muted-info">Valor ajuste</span>
                            <span class="text-line p-3">$ -5.000</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Fin Section Valor Real-->
        </div>


        <!-- Inicio Área de texto -->
        <div class="content-input col-md-5">
            <div class="mb-2">
                <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
        <!-- Fin Área de texto -->
        <!--Fin caja de texto para buscador con icono y borde-->
        <!--Fin caja de texto para buscador-->
        <!-- Inicio caja de texto activa-->
        <div class="content-input col-md-5">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                <small>Texto de referencia</small>
            </div>
        </div>
        <!-- Fin caja de texto activa-->

        <button type="button" class="btn btn-primary bs-btn">Nuevo envío</button>
        <button type="button" class="btn btn-primary bs-btn" disabled>Nuevo envío</button>
        <button type="button" class="btn btn-primary bs-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Demo modal
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título modal</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3 bs-t-body t-horizontal" style="background: transparent;">
                    <div class="row g-0">
                        <div class="col-md-4 ">
                            <img src="././assets/img/Recogidas.svg" alt=""
                                class="img-fluid card-img-center rounded-start" style="width: 120px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Recogidas en Casa</h5>
                                <p class="card-text">Con Recogidas en Casa, tus envíos llegarán a su destino de una
                                    manera más rápida y segura.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary bs-btn icon-btn"><img
                        src="././assets/img/arrow-right-orange-2.svg" alt="" />Nuevo envío</button>
                <button type="button" class="btn btn-primary bs-btn">Solicitar recogida</button>
            </div>
        </div>
    </div>
</div>