<!-- Modal Inicio Rechazado -->
<div class="modal fade" id="idRechazadoModal" tabindex="-1" aria-labelledby="idRechazadoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <img src="././assets/img/guia_rechazada.svg">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <p class="text-muted">
                            <span class="text-line p-1">Selecciona una causal de rechazo</span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center custom-row-info">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                value="Imágenes no Coinciden y/o no son claras" id="causalRechazo1">
                            <label class="form-check-label text-muted-2" for="causalRechazo1">
                                Imágenes no Coinciden y/o no son claras
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                value="El trayecto no aplica para liquidación" id="causalRechazo2">
                            <label class="form-check-label text-muted-2 causalRechazo2" for="causalRechazo2">
                                El trayecto no aplica para liquidación
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <button type="button" class="button-info-3" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <button type="button" class="button-info-2" (click)="EnviarRechazo()">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Fin Rechazado -->

<!-- Modal Inicio Evidencia -->
<div class="modal fade" id="idVerEvidenciasModal" tabindex="-1" aria-labelledby="idVerEvidenciasModal"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                            <img src="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80"
                                class="image-width" alt="...">
                        </div>
                        <div class="carousel-item text-center">
                            <img src="https://images.unsplash.com/photo-1620191957898-8fe864c06237?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80"
                                class="image-width" alt="...">
                        </div>
                        <div class="carousel-item text-center">
                            <img src="https://images.unsplash.com/photo-1472457897821-70d3819a0e24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1469&q=80"
                                class="image-width" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button-info-1" (click)="Continuar()">
                    Continuar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Fin Evidencia -->




<!-- Modal Inicio Confirmacion Aprobacion -->
<div class="modal fade" id="idConfAprobacion" tabindex="-1" aria-labelledby="idConfAprobacion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <img src="././assets/img/guía_sin_auditoria.svg" alt="">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <p class="text-muted">
                            <span class="text-line p-1">¿Está seguro/a de Aprobar?</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <button type="button" class="button-info-3" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <button type="button" class="button-info-2" (click)="Aprobar()">
                            Aprobar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Fin Confirmacion Aprobacion -->




<!-- Modal Inicio Confirmacion Rechazo -->
<div class="modal fade" id="idConfRechazo" tabindex="-1" aria-labelledby="idConfRechazo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <img src="././assets/img/guía_sin_auditoria.svg" alt="">
                    </div>
                </div>
                <div class="row custom-row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <p class="text-muted">
                            <span class="text-line p-1">¿Está seguro/a de Rechazar?</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <button type="button" class="button-info-3" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <button type="button" class="button-info-2" (click)="Rechazar()">
                            Rechazar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Fin Confirmacion Rechazo -->





<div class="loader-container hide" name="loader" id="loader">
    <img src="././assets/img/loader-truck.gif" alt="" />
    <div class="loader-background"></div>
</div>