.button-info-1 {
    background-color: #E76100 !important;
    border: solid 2px #E76100 !important;
    color: #fff;
    cursor: pointer;
    width: 200px !important;
    display: inline-block;
    margin: 20px 0px;
    border-radius: 48px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
}

.button-info-1:hover {
    background-color: #FFA361 !important;
    border: solid 2px #FFA361 !important;
}


.button-info-2 {
    background-color: #E76100 !important;
    border: solid 2px #E76100 !important;
    color: #fff;
    cursor: pointer;
    width: 200px !important;
    display: inline-block;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
}

.button-info-2:hover {
    background-color: #FFA361 !important;
    border: solid 2px #FFA361 !important;
}

.button-info-3 {
    background-color: #FFF !important;
    border: solid 2px #E76100 !important;
    color: #E76100;
    cursor: pointer;
    width: 200px !important;
    display: inline-block;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
}

.button-info-3:hover {
    background-color: #FFF !important;
    border: solid 2px #FFA361 !important;
}


.carousel-inner {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-item {
    text-align: center;
}

.full-width-image {
    width: 100%;
    height: auto;
}

.custom-row {
    margin-bottom: 30px !important;
}

.custom-row-info {
    margin-bottom: 10px !important;
}

.text-muted {
    font-size: 12px;
    margin-bottom: 5px;
    color: #7794ad !important;
    font-weight: bold;
}

.text-muted-2 {
    font-size: 12px;
    margin-bottom: 5px;
    color: #7794ad !important;
}

.text-line {
    display: block;
    font-size: 12px;
}


.p-1 {
    font-size: 16px;
}


.form-check-input:checked {
    background-color: #E76100 !important;
    border-color: #E76100 !important;
}

.form-check-input {
    border-radius: 10px !important;
    width: 1.2em !important;
    height: 1.2em !important;
}

.causalRechazo2 {
    margin-right: 24px;
}